In [1]:
# 예제 1
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
# 예제 2
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

x = Gizmo()

Gizmo id: 135115290407408

In [3]:
y = Gizmo() * 10

Gizmo id: 135115290395072

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [4]:
# 예제 3
charles = {'name' : 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [5]:
lewis is charles

True

In [6]:
id(charles), id(lewis)

(135115282756544, 135115282756544)

In [7]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [8]:
# 예제 4
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [9]:
alex is charles

False

In [10]:
# 예제 5
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [11]:
id(t1[-1])

135115282752448

In [12]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 135115282752448)

In [13]:
t1 == t2

False

In [14]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [15]:
l2  == l1

True

In [16]:
l2 is l1

False

In [17]:
# 예제 6
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

In [18]:
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [19]:
l2[1] += [33, 22]
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [20]:
# 예제 7
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [21]:
# 예제 8
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(135114398927744, 135114398931920, 135114398928368)

In [22]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [23]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(135114812167552, 135114812167552, 135114391830208)

In [24]:
# 예제 9
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [25]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [26]:
# 예제 10
def f(a, b):
    a += b
    return a

In [27]:
x = 1
y =2
f(x, y), (x, y)

(3, (1, 2))

In [28]:
a = [1, 2]
b = [3, 4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [29]:
t = (10, 20)
u = (30, 40)
f(t, u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [31]:
# 예제 11
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""
    def __init__(self, passengers=[]):
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [32]:
# 예제 12
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [33]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [34]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [35]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [36]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [37]:
bus2.passengers is bus3.passengers

True

In [38]:
bus1.passengers

['Bill', 'Charlie']

In [39]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [40]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [41]:
# 예제 13
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [42]:
# 예제 14
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [43]:
# 예제 15
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [44]:
# 예제 16
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [45]:
# 예제 17
import weakref
s1 = {1, 2, 3}
s2 = s1
def bye():
    print('Gone with the wind...')

In [46]:
ender = weakref.finalize(s1, bye)
ender.alive

True

In [47]:
del s1
ender.alive

True

In [48]:
s2 = 'spam'

In [49]:
ender.alive

False